.cardShop { 
    border: none !important;
    margin-left: auto;
    margin-right: auto;        
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.lootboxes {
    margin-top: 150px;    
}

.btn {
    margin-top: 2px;    
    margin-left: auto;
    margin-right: auto;
}

.card-body { 
    background-color: rgba(255, 255, 255, 1) !important;
    padding: 0.5em !important;
}

.bannierePseudo {
    position: fixed;
    height: 70px;
    background:red;
    right: 0px;  
    top: 40px;   
    opacity: 0.1;   
}

.banniereImage {
    position: fixed;
    z-index: 1;    
    right: 0px;  
    top: 40px;           
}

.contenu {          
    color: white;
    font-family: dungeon !important;   
    font-size: 50px !important; 
    position: fixed;
    z-index: 1;    
    right: 0px;  
    top: 40px; 
}

.colContenu {
    right: 75px;
    color: #ffc107;
}

.colContenu2 {    
    color: white;
    right: 75px;
}

.colContenu a:visited {    
    color: #ffc107;
}

.colContenu2 a {    
    color: white;    
}

.colContenu2 a:hover {    
    color: red;
}

.colContenu a:hover {    
    color: red;
}