

.imgHome {
    width: 700px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

body {
    background: linear-gradient(#9b9b9b, #000000);    
    background-attachment: fixed;
};