body {
    background: linear-gradient(#9b9b9b, #000000);    
    background-attachment: fixed;
};

.tableMobs {
    background-color: white !important;
    font-family: dungeon !important;   
    font-size: 1.5em !important;
   
};

.tableBoss {
    padding-top: 30px;
};

.tableLoots{
    padding-top: 30px;
};

.tableItems{
    padding-top: 30px;
};

